.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e8f6ff)
}


.image__floor {
    width: 1500px;
    position: absolute;
    bottom: -10px;

}

.image__tunnel {
    position: absolute;
    bottom: 24px;
    width: 80px;
    right: -80px;
    animation: tunnel-animation 7s infinite linear;
}

.image__mario {
    width: 150px;
    position: absolute;
    bottom: 23px;
}

.image__clouds {
    width: 350px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.game__over {
    font-size: 20px;
    overflow: hidden;
}


.jump--animation {
    animation: jump-animation 1500ms ease-out;
}


@keyframes tunnel-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}